extends layout

block content
  h1 M8 T2
  img(src=qrImageData, alt="")
  hr
  p.lead Por favor escanee el c贸digo QR, e introduzca el c贸digo proporcionado.
  hr

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-1.control-label(for='email') C贸digo
      .col-sm-11
        input.form-control(type='text', name='otp', id='otp', placeholder='', autofocus, required)
    .form-group
      .col-sm-offset-1.col-sm-11
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Verificar c贸digo
